<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.mechdome.aboutmechdome">
    <application>
        <activity android:name=".AboutMechDomeActivity"
            android:label="@string/about_mechdome"
            android:theme="@android:style/Theme.DeviceDefault.Light.DarkActionBar"/>
        <activity android:name=".DonateMechDomeActivity"
            android:label="@string/about_mechdome"
            android:theme="@android:style/Theme.DeviceDefault.Light.DarkActionBar"/>
    </application>
</manifest>